body{
    min-width: 1366px;
    font: 12px/1.5 Helvetica Neue,tahoma,arial,"Hiragino Sans GB",Microsoft YaHei,\5b8b\4f53;
    background-color: #E4E4E4;
}
.container{
	width: 1050px;
}
.topnav{
	width: 100%;
	/*background-color: #0088cc;*/
	background-color: #3a3a3b;
}
.foot{
	background-color: #3a3a3b;
	color: #ffffff;
	padding-top:30px;
	padding-bottom: 30px;
}
.color-white{
	color: #ffffff;
}
.card{
	color: #333333;
	background-color: #ffffff;
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
    -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 20px;
}
.card li{
	padding: 10px;
}
.card li:first-child{
	color: #ffffff;
	background-color: #3a3a3b;
	font-size: 16px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card h5:first-child{
	color: #ffffff;
	background-color: #3a3a3b;
	font-size: 14px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
    padding:10px;
}
.card h5:first-child a{
	color: #ffffff;
}
.card a{
	color: #333333;
}
.news{
	height: 800px;
	margin-bottom: 20px;
}
.main{
	background:url(../image/bg.jpg) no-repeat center #3a3a3b;
}
.padding1{
	padding-left: 0px;
	padding-right: 0px;
}
.padding2{
    padding: 10px 15px;
}
/*.margin1{
	margin-top:20px;
}*/
.navbar-default {
    background-color: transparent;
    border-color:transparent;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    /*color: #0088cc;
    background-color: #ffffff;*/
    color: #ffffff;
    background-color: #0088cc;
}
.shu{
	color:#ffffff;
	line-height: 50px;
}
.indexshow img{
	height: 150px;
	width: 100%;
}
.indexshow h5{
	margin-top:18px;
	margin-bottom:6px;
}
.newslist{
    line-height: 40px;
    margin-bottom: 0px;
}
/*分页样式*/
.pages{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pages a,
.pages span {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 1px;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pages a,
.pages li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #58A0D3;
    font-size: 14px;
}
.pages li:first-child {
    color: #0088cc;
    background-color: transparent;
    font-size: 14px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    border-radius: 0px;
}
.pages a.first,
.pages a.prev,
.pages a.next,
.pages a.end {
    margin: 0;
}

.pages a:hover {
    border-color: #50A8E6;
}

.pages span.current {
    background: #50A8E6;
    color: #FFF;
    font-weight: 700;
    border-color: #50A8E6;
}
.search input {
    border: 1px solid rgba(255,255,255,.8);
    background: rgba(0,0,0,.3);
    color: #ffffff;
    width: 400px !important;
}
.search .form-control {
    height: 42px;
    font-size: 24px;
    line-height: 28px;
}
.searchbt {
    background-color: transparent;
    color: #ffffff;
    height: 42px;
    line-height: 28px;
    font-size: 20px;
    border: 0px;
    position: absolute;
    margin-left: -616px;
}
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}
.coursecard {
    padding: 15px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    height: 200px;
}
.coursecard h5{
    margin-bottom: 0px;
}
.coursecard a{
    color: #0088cc;
}
.coursepart{
    padding: 10px;
    background: #ffffff;
    margin:20px;
}
